@font-face {
  font-family: 'Circe-Regular';
  src: url('../fonts/Circe-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Circe-Bold';
  src: url('../fonts/Circe-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}