*{
  margin: 0;
  padding: 0;
}

/*----------Сверстать две статьи. Оформить используя CSS.---------*/
.wrapper{
  width:900px;
  margin: 20px auto;
  padding: 30px 50px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-family:arial;
  color: #313F5D;
  
}
.article-block{
  margin-bottom: 30px;
}
h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
}
h4{
  margin-bottom: 30px;
}

/*--------Вместо изображения с самолетом поставить любое другое из интеренета. Сверстать блок, вставив изображение.----------*/

.main-img{
  width: 100%;
  height: 100px;
  margin-bottom:25px;
  background:#ccc url(../A320.jpg) center center;
}

/*-----Создать ненумерованный список с использованием CSS-свойства list-style-image. Изображение стрелки взять любое.-----*/

.list-menu{
  list-style-image: url(../arr.png);
  margin-bottom:10px;
}






















