@import 'reset';
@import 'var';
body {
  background-image: url(../img/body-bg.png);
  background-size: cover;
}
.wrapper {
  min-width: 320px;
  max-width: 1025px;
  margin: 0 auto;
  box-sizing: border-box;
}
@import 'header';
@import 'gallery';
@import 'footer';