@import 'reset';
@import 'var';

html {
  font-size: 16px;
  @media (max-width: 585px) {
    font-size: 13px;
  }
}
body {
  font-family: 'Lato', sans-serif; 
  min-width: 320px;
}
p {
  line-height: 1.5;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
a:focus, a:active {
	color: #fff;
  text-decoration: underlien;
}

/*header part*/

.header {
  background-color: rgba(7, 7, 7, 0.3);
  position: absolute;
  z-index:  1;
  width: 100%;
  min-width: 320px;
}
.wrapper {
  max-width: 1170px;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  @media (max-width: 1024px) and (min-width: 768px) {
    padding: 20px 20px;
  }
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.logo {
  @media (max-width: 768px) {
    flex-basis: 100%;
    text-align: center;
  }
}
.menu__link {
  display:inline-block;
  margin-top: 20px;
  margin-left: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  &:first-child {
    margin-left: 0;
  }
  &:hover {
    color: $blue-color;
  }
  @media (max-width: 555px) {
   margin-left: 20px;
  }
  @media (max-width: 480px) {
    display: none;
  }
}

/*slider part*/

.slider {
  width: 100%;
  height: 800px;
  background-image: url(../img/slider.png);
  background-position: 27%;
  background-size: cover;
  position: relative; 
  top: 0;
  border-bottom: 5px solid $blue-color;
}
.slider__wrapper {
  display: flex; 
  width: 100%;
  height: 800px;
  justify-content: flex-end;
  @media (max-width: 768px) {
    background-color: rgba(7, 7, 7, 0.3); 
  } 
}
.right-side {
  position: relative;
  top: 250px;
  max-width: 650px;
  padding: 10px;
  color: #fff;
  @media (max-width: 1190px) {
    max-width: 550px;
    text-align: right;
  }
  @media (max-width: 768px) {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    top: 200px;
  }
  @media (max-width: 480px) {;
    top: 150px;
  }
}
.slider__title {
  font-size: to-rem(48px);
  margin-bottom: 30px;
  font-weight: lighter;
  @media (max-width: 768px) {
    margin-bottom: 60px;
  }
}
.bold-text {
  font-weight: bold;
}
.slider__text {
  font-size: to-rem(18px);
  margin-bottom: 60px;
  @media (max-width: 768px) {
    margin-bottom: 120px;
    line-height: 1.8;
  }
}
.slider__btn {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid #fff;
  border-radius: 7px;
  padding: 20px 50px;
  transition: all 0.3s ease; 
  &:hover {
    color: $blue-color;
    border-color: $blue-color;
  }
}

/*main part*/

.features {
  background-color: #f9f9f9;
  text-align: center;
  border-bottom: 3px solid #e7e7e7;
  padding-top: 30px;
}
.section__title {
  font-size: to-rem(36px);
  font-weight: bold;
}
.section__subtitle {
  font-size: to-rem(20px);
  margin-bottom: 70px;
}
.article__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.summar__article {
  flex-basis: 30%;
  @media (max-width: 768px) {
    max-width: 320px;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.article__picture {
  background-color: $blue-color;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-top: 45px;
}
.article__title {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.article__text {
  font-size:13px;
  padding: 0 20px;
}

/*-----------GALLERY PART-----------*/

.gallery {
  text-align: center;
  margin-bottom: 80px;
  padding-top: 30px;
}
.gallery__wrap {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  @media (max-width: 960px) {
    flex-wrap: wrap;
  }
}
.gallery__item {
  flex-basis: 23%;
  @media (max-width: 960px) {
    flex-basis: 48%;
  }
  @media (max-width: 500px) {
    flex-basis: 100%;
  }
}
.gallery__text {
  padding: 0 20px;
}

/*--------VIDEO PART-----------*/

.video-section {
  position: relative;
}
.video {
  position:relative;
  line-height: 0;
}
.video__item {
  width: 100%;
  height: 550px;
  border: none;
  line-height: 0;
}
.video::before{
  width:100%;
  height: 550px;
  background-color: $blue-color;
  content: "";
  display: block;
  position: absolute;
  opacity:0.7;
}
.video:hover::before, .video:hover > .video__title {
  display: none;
}

.video__title {
  position: absolute;
  bottom: 25%;
  line-height: 1.2;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: to-rem(48px);
  font-weight: lighter;
  text-align: center;
  @media (max-width: 585px) {
    bottom: 30%;
  }
}

/*------------APP PART---------------*/

.download {
  background-color: $grey-color;
  text-align: center;
  padding: 30px;
}
.download__title {
  font-size: to-rem(55px);
  color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
  @media (max-width: 585px) {
    font-size: 35px;
  }
}
.download__btn {
  background-color: $blue-color;
  color: $grey-color;
  padding: 20px 40px;
  border: none;
  border-radius: 7px;
  box-shadow: inset 0 -3px 10px rgba(0,0,0,0.5);
  transition: all 0.3s ease; 
  &:hover {
    color: #fff;
    background-color: #1ea6de;
    box-shadow: none;
    cursor: pointer;
  }
}

/*-------FORM PART-----------*/


.map {
  width: 100%;
  height: 680px;
  border: none;
}
.contact__wrap {
  position: relative;
  line-height: 0;
}
.form__wrap {
  line-height: 1.2;
  max-width: 320px;
  background-color: rgba($blue-color, 0.8);
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.form .form__item {
  width: 290px;
  padding: 10px;
  box-sizing: border-box;
  color: #d3d3d3;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 7px;
  border: none;
  @media (max-width: 480px) {
    max-width: 270px;
  }
  &:focus {
    border: 1px solid $grey-color;
  }
}
.form__btn {
  padding: 15px 80px;
  background-color: $grey-color;
  color: $blue-color;
  border: none;
  border-radius: 7px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #252525;
    color: #fff;
    cursor: pointer;
  }
  &:focus {
    border: 2px solid #fff;
  }
}

/*------FOOTER PART---------------*/

.footer {
  background-color: $grey-color;
  padding: 40px 10px;
  color: #fefefe;
  font-size: 12px;
}