body {
  background: url(../img/body-bg.png)  center center no-repeat;
  background-size: cover;
}

.wrapper {
  max-width: 1025px;
  margin: 0 auto;
}

/*------HEADER---------*/

.header {
  padding: 50px 0;
  margin-bottom:10px;
  text-align: center;
}
.menu-item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.menu-item:nth-child(2)::before {
    content: "";
    display: inline-block;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    bottom:-10px;
    left: 45%;
}
.menu-item:nth-child(2):hover::before {
    content: "";
    display: inline-block;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom:-7px;
    left: 45%;
}
.submenu {
  display: none; 
  position: absolute;
  left: 15px;
  top: 40px;
  list-style: none;
  background-color: #fff;
  border-radius: 3px;
}
.menu-item:hover > .submenu{
  display: block;
  
}
.submenu-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  color: #6b7488;
  font-family: 'Pathway Gothic One';
  display: inline-block;
  padding:5px 15px;
}
.submenu-item:hover {
  background-color: #6b7488;
}
.submenu-link:hover {
  color: #fff;
}

.menu-link {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Pathway Gothic One';
  font-size: 28px;
  text-decoration: none;
  padding: 8px 25px;
}
.menu-link:hover {
  color: #263555;
}
.logo {
  background-color: #fff;
  display: inline-block;
  padding: 50px 35px;
  border-radius: 75px;
}

/*-----------MAIN------------*/

.main {
  padding: 60px;
  background-color: #fff;
  position: relative;
}

/*---------SLIDER------------*/

.slider {
  position: relative;
  margin-bottom: 50px;
}

.slogan {
  position: absolute;
  left: 0;
  top: 220px;
  font-family: 'Pathway Gothic One';
  text-transform: uppercase;
  
}
.tiny-title {
  color: #263555;
  background-color: #fff;
  padding: 15px;
  font-size: 22px;
  font-weight: 600;
  display: inline-block;
  /*border-left: 1px solid #ededee;*/
  box-shadow: 0 2px 0px 1px rgba(237, 237, 238, 0.8)
}
.big-title {
  padding: 15px;
  background-color: #38afe5;
  color: #fff;
  font-size: 34px;
  font-weight: 600;
}
.slider-control {
  position: absolute;
  left: 40px;
  bottom: 40px;
  /*background-color: #38afe5;
  padding: 30px 20px;
  border-radius: 50px;*/
}
.left, .right {
  display: inline-block;
  background-color: #38afe5;
  /*padding: 30px 20px;*/
  border-radius: 50px 0 0 50px;
  
}
.left {
  padding: 30px 5px 30px 20px;
}
.right {
  border-radius: 0 50px 50px 0;
  padding: 30px 20px 30px 5px;
}
.left:hover {
  background-color: rgba(56, 175, 229, 0.6);
}
.right:hover {
  background-color: rgba(56, 175, 229, 0.6);
}
.left::before {
  content: url(../img/left.png);
}
.right::after {
  content: url(../img/right.png);
}

/*----------------section---------------------*/

.section {
  margin-bottom: 80px;
}
.section-title {
  font-family: 'Pathway Gothic One';
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.section-wrap {
  font-size: 0;
}
.figure {
  float: left;
  width: 32%;
  margin-right: 2%;
  position: relative;
}
.figure:last-child {
  margin-right: 0;
}
.figure-img {
  height: 100%;
}
.sect-article {
  display: none;
  width: 53%;
  box-sizing: border-box;
  position: absolute;
  top:0;
  background-color: #193149;
  color: #fff;
  padding: 20px 10px;
  height: 100%;
}
.article-title {
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
.article-text {
  font-family: 'Arial';
  font-size: 10.4px;
  margin-bottom: 30px;
  line-height: 1.5;
  text-align: justify;
}
.btn {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  float: right;
}
.btn:hover {
  color: #fff;
  cursor: pointer;
}
.figure:hover > .sect-article {
  display: block;
}

/*-----------------TO TOP BUTTON-------------*/

.top {
  position: fixed;
  right: 13%;
  bottom: 20px;
}







